.searchbar{
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.searchbar input{
    width: 80%;
    max-width: 800px;
    flex: 1;
    padding: 12px 20px;
    background: #1c1c1c;
    border: 2px solid #00fff7;
    background-color: #1e1e1e;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    box-shadow: 0 0 10px #00fff7;

}